<h1>{{title}}</h1>
<div>
    <input type="email" id="userBox" placeholder="jhon@gmail.com">
    <input type="text" id="chatBox" placeholder="msg">
    <button type="button" id="chatBtn">Enviar</button>
</div>
<div>
    <ul id="messageLogs">
    </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>