<header>
    <nav>
        <div>
            <ul>
                <li><a href="/products">Products</a></li>
                <li><a href={{user.cartUrl}}>Cart</a></li>
                <li><a href="/api/sessions/current">Informacion del usuario</a></li>
                <li><a href="/realtimeproducts">Real Time Products</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h1>Bienvenido {{user.full_name}}</h1>
    <p>Esta es nuestra tienda donde podras encontrar una gran variedad de productos</p>
    <p></p>
    <p>Agrega css, algunas imagenes de productos</p>
</main>