<header>
    <nav>
        <div>
            <ul class="ulLinkContainer">
                <li><a href="/home">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href={{cartUrl}}>Cart</a></li>
                <li><a href="/realtimeproducts">New Product</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h1>Perfil</h1>
    <div>
        <button id="btn">Traer info</button>
    </div>
    <div id="infoContainer">
    </div>
</main>
<script src="/js/profile.js"></script>
<link rel="stylesheet" href="/css/profile.css">