<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Olvidaste tu contraseña?</h1>
    </div>
    <div>
        <p>{{message}}</p>
    </div>
    <div>
        <form id="recoverPassForm">
            <div>
                <label>Email</label>
                <input type="email" id="recoverPassEmail" name="email" placeholder="Ingrese su email aqui">
            </div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
    <script src="/js/recoverPassword.js"></script>
</body>
</html>