<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Cambiar contraseña</h1>
    </div>
    <div>
        <p>Ingresa tu email y contraseña nueva</p>
    </div>
    <div>
        <div>
            <form id="resetPassForm">
                <div>
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Ingrese su email aqui">
                </div>
                <div>
                    <label>Contraseña</label>
                    <input type="password" name="password" placeholder="Ingrese contraseña" autocomplete="off">
                </div>
                <div>
                    <label>Confirmar Contraseña</label>
                    <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" autocomplete="off">
                </div>
                <div>
                    <input type="submit" value="Cambiar Contraseña">
                </div>
            </form>
        </div>
        <div>
            <button type="button"><a href="/">Volver al login</a></button>
        </div>
    </div>
    <script src="/js/resetPassword.js"></script>
</body>
</html>