<header>
    <nav>
        <div>
            <ul class="ulLinkContainer">
                <li><a href="/home">Home</a></li>
                <li><a href="/realtimeproducts">New product</a></li>
                <li><a href="/profile">Perfil</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="divUsers">
        <div>
            <form id="formGet">
                <div>
                    <label for="input-get-user">Email usuario</label>
                    <input type="text" placeholder="ingresar id usuario" name="email" id="input-get-user">
                </div>
                <div>
                    <input type="submit" value="Obtener un usuarios">
                </div>
            </form>
        </div>
        <div id="divGetUser">
        </div>
    </div>
    <div class="divUsers">
        <form id="formUpdateRol">
            <div>
                <label for="input-update-rol-id">Id usuario</label>
                <input type="text" placeholder="ingresar id usuario" name="id" id="input-update-rol-id">
            </div>
            <div>
                <label for="input-update-rol">rol usuario</label>
                <input type="text" placeholder="ingresar el nuevo rol del usuario" name="rol" id="input-update-rol">
            </div>
            <div>
                <input type="submit" value="Modificar el rol de un usuario">
            </div>
        </form>
    </div>
    <div class="divUsers">
        <form id="formDeleteOneUser">
            <div>
                <label for="input-delete-user">Id usuario</label>
                <input type="text" placeholder="ingresar id usuario" name="inputDeleteUser" id="input-delete-user">
            </div>
            <div>
                <input type="submit" value="Eliminar un usuario">
            </div>
        </form>
    </div>
    <div class="divUsers">
        <form id="formDeleteInactive">
            <input type="submit" value="Eliminar usuarios inactivos">
        </form>
    </div>
    {{#each users}}
        <div class="divUsers">
            <ul>
                <li>Nombre : {{this.name}}</li>
                <li>Email : {{this.email}}</li>
                <li>Rol : {{this.rol}}</li>
            </ul>
        </div>
    {{/each}}
</main>
<script src="/js/users.js"></script>
<link rel="stylesheet" href="/css/users.css">